/build/
/bundled/Solver/
/src/packages/*/
/src/_ReSharper.*/
/src/_TeamCity.*/
/src/_dotTrace.*/
/src/_dotMemory.*/
obj/
test-results/
*.bak
*.cache
*.pidb
*.suo
*.user
*.userprefs
*.DotSettings
*.resources
