<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="4BD426C7-9705-4035-A2F5-E0009C5151D9" UpgradeCode="795C28EA-3E9A-422B-9704-A806604E43C9" Manufacturer="0install.de" Name="Zero Install" Language="1033" Version="1.4.2">
    <Package Description="decentralised installation system" InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="Newer version already installed" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="Zero Install">
          <Component Id="Core" Guid="5C568C59-0D32-40E9-9666-51D8568FE02B">
            <File Source="_no_self_update_check" />
            <File Source="..\..\license.txt" />
            <File Source="..\..\3rd party code.txt" />
            <File Source="..\..\build\Frontend\Release\0alias.exe" />
            <File Source="..\..\build\Frontend\Release\0alias.exe.config" />
            <File Source="..\..\build\Frontend\Release\0install.exe" />
            <File Source="..\..\build\Frontend\Release\0install.exe.config" />
            <File Source="..\..\build\Frontend\Release\0install-win.exe" />
            <File Source="..\..\build\Frontend\Release\0install-win.exe.config" />
            <File Source="..\..\build\Frontend\Release\0launch.exe" />
            <File Source="..\..\build\Frontend\Release\0launch.exe.config" />
            <File Source="..\..\build\Frontend\Release\0store.exe" />
            <File Source="..\..\build\Frontend\Release\0store.exe.config" />
            <File Source="..\..\build\Frontend\Release\0store-service.exe" />
            <File Source="..\..\build\Frontend\Release\0store-service.exe.config" />
            <File Source="..\..\build\Frontend\Release\0store-win.exe" />
            <File Source="..\..\build\Frontend\Release\0store-win.exe.config" />
            <File Source="..\..\build\Frontend\Release\C5.dll" />
            <File Source="..\..\build\Frontend\Release\Common.dll" />
            <File Source="..\..\build\Frontend\Release\EasyHook.dll" />
            <File Source="..\..\build\Frontend\Release\EasyHook32.dll" />
            <File Source="..\..\build\Frontend\Release\EasyHook32Svc.exe" />
            <File Source="..\..\build\Frontend\Release\EasyHook64.dll" />
            <File Source="..\..\build\Frontend\Release\EasyHook64Svc.exe" />
            <File Source="..\..\build\Frontend\Release\ICSharpCode.SharpZipLib.dll" />
            <File Source="..\..\build\Frontend\Release\INIFileParser.dll" />
            <File Source="..\..\build\Frontend\Release\Interop.IWshRuntimeLibrary.dll" />
            <File Source="..\..\build\Frontend\Release\LinqBridge.dll" />
            <File Source="..\..\build\Frontend\Release\NDesk.Options.dll" />
            <File Source="..\..\build\Frontend\Release\SevenZip.dll" />
            <File Source="..\..\build\Frontend\Release\TaskDialog.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.Central.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.Commands.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.DesktopIntegration.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.DesktopIntegration.XmlSerializers.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.exe" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.exe.config" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.Fetchers.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.Hooking.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.Injector.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.Injector.XmlSerializers.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.Model.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.Model.XmlSerializers.dll" />
            <File Source="..\..\build\Frontend\Release\ZeroInstall.Store.dll" />
          </Component>
          <Directory Id="Core_de" Name="de">
            <Component Id="Core_de" Guid="F4B50339-B95B-441E-8FA4-0F06BB6D2B5D">
              <File Source="..\..\build\Frontend\Release\de\0alias.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\0install.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\0install-win.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\0launch.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\0store.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\0store-service.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\0store-win.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\Common.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\ZeroInstall.Central.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\ZeroInstall.Commands.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\ZeroInstall.DesktopIntegration.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\ZeroInstall.Fetchers.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\ZeroInstall.Injector.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\ZeroInstall.Model.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\ZeroInstall.resources.dll" />
              <File Source="..\..\build\Frontend\Release\de\ZeroInstall.Store.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="GnuPG" Name="GnuPG">
            <Component Id="GnuPG" Guid="C6CAAA72-8774-4C85-9E44-BD7F3A2D0E80">
              <File Source="..\..\bundled\GnuPG\COPYING.txt" />
              <File Source="..\..\bundled\GnuPG\gpg.exe" />
              <File Source="..\..\bundled\GnuPG\iconv.dll" />
            </Component>
          </Directory>
          <Directory Id="Solver" Name="Solver">
            <Component Id="Solver" Guid="D6D429F1-9338-4203-8328-DE6959F9C4D0">
              <File Source="..\..\bundled\Solver\_hashlib.pyd" />
              <File Source="..\..\bundled\Solver\_socket.pyd" />
              <File Source="..\..\bundled\Solver\_ssl.pyd" />
              <File Source="..\..\bundled\Solver\_win32sysloader.pyd" />
              <File Source="..\..\bundled\Solver\0solve" />
              <File Source="..\..\bundled\Solver\0solve.exe" />
              <File Source="..\..\bundled\Solver\bz2.pyd" />
              <File Source="..\..\bundled\Solver\cacert.pem" />
              <File Source="..\..\bundled\Solver\glib._glib.pyd" />
              <File Source="..\..\bundled\Solver\gobject._gobject.pyd" />
              <File Source="..\..\bundled\Solver\intl.dll" />
              <File Source="..\..\bundled\Solver\libglib-2.0-0.dll" />
              <File Source="..\..\bundled\Solver\libgobject-2.0-0.dll" />
              <File Source="..\..\bundled\Solver\libgthread-2.0-0.dll" />
              <File Source="..\..\bundled\Solver\library.zip" />
              <File Source="..\..\bundled\Solver\microsoft.vc90.crt.manifest" />
              <File Source="..\..\bundled\Solver\msvcr90.dll" />
              <File Source="..\..\bundled\Solver\pyexpat.pyd" />
              <File Source="..\..\bundled\Solver\python27.dll" />
              <File Source="..\..\bundled\Solver\pythoncom27.dll" />
              <File Source="..\..\bundled\Solver\pywintypes27.dll" />
              <File Source="..\..\bundled\Solver\select.pyd" />
              <File Source="..\..\bundled\Solver\unicodedata.pyd" />
              <File Source="..\..\bundled\Solver\win32api.pyd" />
              <File Source="..\..\bundled\Solver\win32com.shell.shell.pyd" />
              <File Source="..\..\bundled\Solver\win32pipe.pyd" />
              <File Source="..\..\bundled\Solver\win32process.pyd" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder" />
    </Directory>

    <Feature Id="DefaultFeature" Title="Zero Install" Level="1">
      <ComponentRef Id="Core" />
      <ComponentRef Id="Core_de" />
      <ComponentRef Id="GnuPG" />
      <ComponentRef Id="Solver" />
    </Feature>
    <PropertyRef Id="NETFRAMEWORK20" />
    <Condition Message="This application requires .NET Framework 2.0.">Installed OR NETFRAMEWORK20</Condition>
    <Icon Id="DesktopIcon.exe" SourceFile="..\..\build\Frontend\Release\ZeroInstall.exe" />
    <Icon Id="StartMenuIcon.exe" SourceFile="..\..\build\Frontend\Release\ZeroInstall.exe" />

    <Property Id="ApplicationFolderName" Value="Zero Install" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <UIRef Id="WixUI_Advanced" />
  </Product>
</Wix>