<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <relativeBindForResources enabled="true" />
    <enforceFIPSPolicy enabled="false" />
    <generatePublisherEvidence enabled="false" />
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />


    <!-- !!! This can be used to change where Zero Install is downloaded from. !!! -->

    <!-- The feed URI used to download and update Zero Install itself. -->
    <add key="self_update_uri" value="https://apps.0install.net/0install/0install-win.xml" />


    <!-- !!! This can be used to create a custom bootstrapper for a specific application. !!! -->

    <!-- The feed URI of the target application to bootstrap. -->
    <add key="app_uri" value="" />

    <!-- The name of the target application to bootstrap. -->
    <add key="app_name" value="" />

    <!-- The GnuPG key fingerprint to trust for signing the application's feed. -->
    <add key="app_fingerprint" value="" />

    <!--  Additional command-line arguments to pass to the application. -->
    <add key="app_args" value="" />

    <!-- Command-line arguments to pass to '0install integrate'. Leave empty to not call '0install integrate' at all. -->
    <add key="integrate_args" value="" />


    <!-- !!! This can be used to change the default values of Zero Install configuration options. Any existing user configuration will take precedence. !!! -->

    <!-- The maximum age a cached feed may have until it is considered stale (needs to be updated) in seconds. -->
    <add key="freshness" value="604800" />

    <!-- Always prefer the newest versions, even if they have not been marked as stable yet. -->
    <add key="help_with_testing" value="False" />

    <!-- Controls how liberally network access is attempted: offline, minimal, full -->
    <add key="network_use" value="full" />

    <!-- Automatically approve keys known by the key info server and seen the first time a feed is fetched. -->
    <add key="auto_approve_keys" value="True" />

    <!-- The mirror server used to provide feeds when the original server is unavailable. Set to empty to deactivate use of feed mirror. -->
    <add key="feed_mirror" value="https://roscidus.com/0mirror" />

    <!-- TThe key information server used to get information about who signed a feed. Set to empty to deactive use of key information server. -->
    <add key="key_info_server" value="https://keylookup.0install.net/" />

    <!-- The feed URI used to get the external solver. Set to empty to deactive use of external solver. -->
    <add key="external_solver_uri" value="https://apps.0install.net/0install/0install-ocaml.xml" />

    <!-- The sync server used to synchronize your app list between multiple computers. -->
    <add key="sync_server" value="https://0install.de/sync/" />

    <!-- The username to authenticate with against the Sync server. Make sure to keep this file private if you decide to set this! -->
    <add key="sync_server_user" value="" />

    <!-- The password to authenticate with against the Sync server. Make sure to keep this file private if you decide to set this! -->
    <add key="sync_server_pw" value="" />

    <!-- The local key used to encrypt data before sending it to the Sync server. Make sure to keep this file private if you decide to set this! -->
    <add key="sync_crypto_key" value="" />
  </appSettings>
</configuration>
