<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Desktop Integration Rules" Description="Based on Zero Install Rules with some overly noisy rules removed." ToolsVersion="10.0">
  <Include Path="..\..\CodeAnalysis.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1011" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1804" Action="None" />
    <Rule Id="CA2204" Action="None" />
  </Rules>
</RuleSet>