<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="NanoByte Rules" Description="Based on Microsoft Extended Design Guideline Rules with some of the less usefull rules removed." ToolsVersion="11.0">
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1023" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1043" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1309" Action="Warning" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1700" Action="Warning" />
    <Rule Id="CA1703" Action="Warning" />
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1713" Action="Warning" />
    <Rule Id="CA1714" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1717" Action="Warning" />
    <Rule Id="CA1719" Action="Warning" />
    <Rule Id="CA1720" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1722" Action="Warning" />
    <Rule Id="CA1724" Action="Warning" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1726" Action="Warning" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1816" Action="Warning" />
    <Rule Id="CA1824" Action="Warning" />
    <Rule Id="CA1903" Action="Warning" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2001" Action="Warning" />
    <Rule Id="CA2004" Action="Warning" />
    <Rule Id="CA2115" Action="Warning" />
    <Rule Id="CA2204" Action="Warning" />
    <Rule Id="CA2210" Action="Warning" />
    <Rule Id="CA2215" Action="Warning" />
    <Rule Id="CA2218" Action="Warning" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2243" Action="Warning" />
  </Rules>
</RuleSet>