<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="No Analysis" Description="Performs no code analysis at all. Only recommended for unit tests." ToolsVersion="11.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Warning" />
  </Rules>
</RuleSet>