<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AppVeyor NanoByte.Common" value="https://ci.appveyor.com/nuget/nanobyte-common" />
    <add key="AppVeyor 0install-dotnet" value="https://ci.appveyor.com/nuget/0install-dotnet" />
  </packageSources>
</configuration>
