name: Release
on:
  workflow_dispatch:
    inputs:
      signing_request_id:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Download signed artifacts
        id: download
        run: |
          curl -H "Authorization: Bearer ${{secrets.SIGNPATH_API_KEY}}" -o artifacts.zip https://app.signpath.io/API/v1/0e70cf92-49a1-4427-a800-b6bc5b497936/SigningRequests/${{github.event.inputs.signing_request_id}}/SignedArtifact
          unzip artifacts.zip
          echo "::set-output name=version::$(cat VERSION)"

      - name: Create archives
        run: |
          pushd Release
          tar -czf ../0install-win-${{steps.download.outputs.version}}.tar.gz --exclude '*.pdb' *
          popd
          pushd Bootstrap
          zip -9 ../0install.zip 0install.*
          zip -9 ../zero-install.zip zero-install.*
          popd

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{steps.download.outputs.version}}
          files: |
            0install-win-${{steps.download.outputs.version}}.tar.gz 
            0install.zip
            zero-install.zip
            Bootstrap/0install.exe
            Bootstrap/zero-install.exe
        env:
          GITHUB_TOKEN: ${{github.token}} 

      # TODO: Trigger 0install/apps "Update" worklow

      - name: Push Chocolatey package
        run: dotnet nuget push 0install.chocolatey.*.nupkg --source https://push.chocolatey.org/ --api-key ${{secrets.CHOCOLATEY_API_KEY}}

      - name: Push PowerShell Gallery package
        run: dotnet nuget push 0install.powershell.*.nupkg --source https://www.powershellgallery.com/ --api-key ${{secrets.POWERSHELL_GALLERY_API_KEY}}
